[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
cloudinary = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
django-cors-headers = "*"
django-environ = "*"
jwt = "*"
bcrypt = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
